.footer {
  /* background: #0f1720; */
  color: #ddd;
  background: url(../../assets/background.jpg);
  padding-top: 4rem;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 7%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-logo {
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #aaa;
}
.footer-socials {
  margin-top: 20px;
}

.footer-col h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--accent-red);
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.6rem;
  font-size: 0.92rem;
}

.footer-col ul li a {
  color: #bbb;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: var(--accent-red);
}

.footer-cta:hover {
  background: #b91f1f;
}

.footer-bottom {
  margin-top: 3rem;
  padding: 1.2rem 7%;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  font-size: 0.85rem;
  color: #888;
}


/* Mobile */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}